@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
.custom-toast {
  background-color: #33ce57 !important;
  font-size: 1.2rem;
  min-height: 70px;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}


